src/main/resources/xsd/zugferd22/factur-x.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rsm="urn:un:unece:uncefact:data:standard:CrossIndustryInvoice:100"
           targetNamespace="urn:un:unece:uncefact:data:standard:CrossIndustryInvoice:100"
           elementFormDefault="qualified">
  <xs:element name="CrossIndustryInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ExchangedDocumentContext" type="xs:anyType"/>
        <xs:element name="ExchangedDocument" type="xs:anyType"/>
        <xs:element name="SupplyChainTradeTransaction" type="xs:anyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
